.App {
  text-align: center;
}

.main {
  width: 60%;
  margin: auto;
  vertical-align: middle;
  align-items: center;
  padding: 30px;
}
.images {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.images img {
  width: 100%;
}
.hidden {
  display: none;
}
.values {
  width: 30%;
  cursor: pointer;
  display: flex;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.value {
  display: flex;
  justify-content: space-between;
}
/* .number {

} */